# testing uproot input
#### (1) Import stuff

In [1]:
import uproot
import numpy as np
import pandas as pd
import sklearn.datasets # for iris

In [2]:
def load_data(files=[],tree=""):
    df_collection={} #to store data from multiple files, unless we want to merge all dfs and make new coloumn describing source
    if bool(files) and bool(tree): # checks both are given, otherwise load iris
        for file in files:
            fin=uproot.open(file) #opens TFile
            tin=fin[tree] #gets TTree
            data=tin.arrays(library="pd") #converts all keys in tree to pandas arrays
            df_collection[file]=data #store by filename key
    else: # if no files passed in load default
        data = sklearn.datasets.load_iris(return_X_y=True, as_frame=True)[0] #loads as pandas dataframe
        data.columns = data.columns.str.replace(' ', '_') #replace spaces with underscores
        data.columns = data.columns.str.replace("_\(cm\)", '') #remove (cm)
        return data
    return df_collection[files[0]] #return only first df for now

In [3]:
datafiles=["MergedMM_Run3.root"]
tree="all"
df=load_data(datafiles,tree)
df.describe()

,cuttag,sigtrk,oldtrk,tentry,mode,AllTrks,nTrk,bgftag,bgfPTcut,l3trig,...,Neu_shorttrk_dist[4],Neu_shorttrk_dist[5],Neu_shorttrk_dist[6],Neu_shorttrk_dist[7],Neu_shorttrk_dist[8],Neu_shorttrk_dist[9],Trk_trk_dist,Thrust_Angle,Thrust_Theta_Diff,Thrust_Phi_Diff
count,3531.0,3531.000000,3531.000000,3531.000000,3531.0,3531.0,3531.0,3531.000000,3531.000000,3531.000000,...,3531.000000,3531.000000,3531.000000,3531.000000,3531.000000,3531.000000,3531.000000,3531.000000,3531.000000,3531.000000
mean,63.0,0.320023,0.144435,0.964882,3.0,2.0,2.0,1146.379779,0.647150,18231.841971,...,14.356400,5.524474,1.795846,-0.125519,-0.484005,-0.855258,207.626434,0.044138,-0.041046,0.142478
std,0.0,0.685002,0.776120,0.816898,0.0,0.0,0.0,1030.495802,0.263317,16283.848359,...,47.614067,32.415371,21.885643,11.747622,9.442483,3.903168,33.240494,0.265064,0.169196,2.530965
min,63.0,-1.000000,-1.000000,0.000000,3.0,2.0,2.0,4.000000,-2.152962,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,40.882149,-2.651575,-0.894597,-6.219711
25%,63.0,0.000000,0.000000,0.000000,3.0,2.0,2.0,28.000000,0.425629,1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,186.546524,-0.161472,-0.091937,-3.021989
50%,63.0,0.000000,0.000000,1.000000,3.0,2.0,2.0,2052.000000,0.667798,32769.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,198.564774,0.053643,-0.011523,0.006796
75%,63.0,1.000000,1.000000,2.000000,3.0,2.0,2.0,2068.000000,0.891752,32769.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,223.506111,0.213664,0.016442,3.091143
max,63.0,1.000000,1.000000,2.000000,3.0,2.0,2.0,2590.000000,2.388337,33801.000000,...,245.644730,242.081741,240.154648,229.256485,235.493576,116.972702,328.865631,2.466566,1.010859,6.257729

In [4]:
datafiles=[]
tree="all"
df=load_data(datafiles,tree)
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
datafiles=["MergedMM_Run3.root"]
tree=""
df=load_data(datafiles,tree)
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
datafiles=[]
tree=""
df=load_data(datafiles,tree)
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
datafiles=["MergedMM_Run3.root"]
tree="all"
df=load_data()
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000